@model AspNetCore.Models.Customer
@{
    int age = 25;
    //string value = string.Empty;
    //if(age>18)
    //{
    //    value = "Yaşı 18 den büyük";
    //}
    //else
    //{
    //    value = "Yaşo 18 den küçük";
    //}
    int Calculate(int number1, int number2) //C# da method isimleri büyük harfle başlar
    {
        return number1 + number2;
    }
    var result = Calculate(1, 2);

    List<string> names = new() { "Songül", "Sinem", "Aslı" };
}
@foreach (var item in names) // Tab Tab
{
    <p>
        @item
        @(item=="Songül"||item=="Aslı"?"yazılımcı":"İnsan Kaynakları")
    </p>
}
<p>
    Durum = @(age>18?"Yaşı 18 den büyük":"Yaşı 18 den küçük") <br />
    Durum2 = @result;
</p>
<p>
   ViewBag.Name=@ViewBag.Name
</p>
<hr />
<p>
    ViewData["Name"]=@ViewData["Name"]
</p>
<hr />
<p>
    TempData["Name"]=@TempData["Name"]
</p>
<hr />
<p>
    First Name = @Model.FirstName;
    <br />
    Last Name = @Model.LastName;
    <br />
    Age = @Model.Age;
   
</p>